/* Mobile First View */

h2 {
	display: none;
}

aside {
	background: white;
	font-family: arial, Helvetica, sans-serif;
	font-size: 120%;
	padding: 5px 0px;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a:link {
	color: black;
	display: block;
	padding: 5px 0;
	text-decoration: none;
}

/* Change the color of aside links on hover using mouse*/
aside a:hover {
	background-color: black;
	color: white;
}

/* change the color of aside links on focus using tab key */
aside a: focus {
	background-color: black;
	color: white;
	outline: none;
}

article {
	background-color: black;
	color: white;
	font-size: 120%;
	padding: 10px;
}

article a {
	color: white;
	padding: 5px;
	text-decoration: none;
}

/* change the color of article links on hover using mouse */
article a:hover {
	background-color: white;
	color: black;
}

/* Change the color of article links on focus using tab key */
article a:focus {
	background-color: white;
	color: black;
	outline: none;
}

#main_image {
	width: 100%;
}

/* For desktop: */
@media only screen and (min-width:768px) {

	main{
		display: flex;
	}
	
	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content:center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}
}
